.place__paragraph {
  font-size: 18px;
  color: #fff;
  margin: 0;
  grid-column: 2;
  grid-row: 2;
  padding-bottom: 26px;
  max-width: 484px;
  line-height: 1.63;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
}

.place__paragraph:nth-of-type(2n) {
  padding-bottom: 0;
}

@media screen and (max-width: 800px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 760px) {
  .place__paragraph {
    grid-column: 1;
    grid-row: 4;
    margin: auto;
    max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .place__paragraph {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0;
    padding-left: 16px;
  }
}