.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  color: #fff;
  text-align: center;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  padding-bottom: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 650px) {
  .lead__subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    padding-bottom: 40px;
  }
}