.place{
  display: grid;
  grid-template-columns:460px 1fr;
  grid-template-rows: auto;
  width: 100%;
  column-gap: 40px;
  row-gap: 48px;
  margin-top:80px;
}
@media screen and (max-width:1024px) {
  .places__place{
    grid-template-columns:440px 1fr;
    grid-template-rows:auto;
  }
  @media screen and (max-width:900px) {
    .places__place{
      grid-template-columns:400px 1fr;
      grid-template-rows:auto;
      row-gap: 32px;
    }
    
  }
}
@media screen and (max-width:760px) {
  .places__place{
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    row-gap: 32px;
  }
  
}